body {
	background-color: #A3BB98;
	font-family: "Raleway", sans-serif;
  height: 100%;
  width: 100%;
  transform: scale(1.0);
}

html {
  height: 100%;
  width: 100%;
}

.padding-bottom{
  padding-bottom:50px;
  background-color: #F0ECCF;
}

.options{
  background-color: #F0ECCF;
}

.container {
	width: 450px;
	height: 650px;
	background-color: #F0ECCF;
	position: absolute;
	left: 50%;
	top: 54%;
	transform: translateX(-50%) translateY(-50%);
	border-radius: 20px;
}

h1 {
	position: absolute;
	left: 50%;
	top: -80px;
	width: 450px;
  height:100px;
	transform: translateX(-50%);
	background-color: #FFB100;
	color: #fff;
	font-weight: bold;
	border-top-left-radius: 100px;
	border-top-right-radius: 100px;
	font-size: 30px;
	text-align: center;
	padding: 30px;
}

.wrapper {
	padding: 20px;
  text-align: center;
  margin: 20px;
}

input,
select {
	width: 80%;
	border: none;
	border-bottom: 1px solid #1A4D2E;
	padding: 10px;
}

input:focus,
select:focus {
	border: 1px solid #1A4D2E;
	outline: none;
}

select {
	width: 88% !important;
}

button {
	margin: 20px auto;
	width: 150px;
	height: 50px;
	background-color: #FFB100;
	color: #fff;
	font-size: 16px;
	border: none;
	border-radius: 5px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media only screen and (max-width:600px){
  button{
    background-color:red;
  }

  body{
    width: 792px;
    height: 655px;
    margin: auto;
  }
}
